@import '../index.css';



.anotacoesContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--branco);
}

.criadorDeNotas{
    border: 2px solid black;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 85%;
    background-color: var(--azulClaro);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);
    border-radius: 15px;
    justify-content: space-evenly;
}




.camposInput{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 8%;
    width: 90%;
    border-radius: 15px;
    height: 75%;
    background-color: transparent;
    
}

.stringtitulo{
    font-weight: bold;
    color: black;
    font-size: 30px;
    
}

.inputTitulo{
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    width: 90%;
    height: 10%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);
    border-width: 1px;
}

.inputConteudo{
    font-weight: 500;
    font-size: 20px;
    border-radius: 15px;
    width: 90%;
    height: 50%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);
    border-width: 1px;
}

.inputConteudo::placeholder{
    font-size: 20px;
}

.inputTitulo::placeholder{
    font-size: 20px;
}

.notaHeader{
    display: flex;
    align-items: center;
    position: relative;
    /* background-color: #F5F5F5; */
    /* box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253); */
    width: 90%;
    height: 10%;
    border-radius: 15px;
    text-align: center;
}

.notaHeader p{
    font-weight: bold;
    font-size: 50px;
}

.notaHeader button:active{
    background-color: #800000;
    margin-top: 5px;
}

.notaHeader button{
    position: absolute;
    right: 0;
    background-color: red;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);
    border-radius: 15px;
    font-weight: bold;
    font-size: 200%;
}

.botaoSalvar{
    border: none;
    height: 50px;
    width: 90%;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #2ECC71;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all ease 50ms;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.253);

}

.botaoSalvar:active{
    background-color: #249955;
    margin-top: 15px;
}