@import './index.css';



.itemListaNota{
    flex-shrink: 0;
    margin: 3px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 15%;
    height: auto;
    width: 100%;
    position:relative;
}

.notinhaIcon{
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.tituloNota{
    font-size: 25px;
    color: rgba(255, 255, 255, 1);

}

.subtituloNota{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);

}

.confirma{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute; 
    display: flex;
    align-items: start;
    background-color: transparent;
    height: auto;
    width: 15%;
    border-radius: inherit;
    flex-direction: row;
    top: 0;
    padding-top: 0.4%;
    padding-right: 0.4%;
    background-color: inherit;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sim-nao{
    top: 0;
    width: 50%;
    background-color: red;
    height: 60px;
    margin: 1px;
    border-radius: 1220px;
    border: 3px solid black;
}

.iconsConfirma{
    height: "auto";
    width: 25%;
}
