@import './index.css';



.itemListaNota{
    flex-shrink: 0;
    margin: 3px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    min-height: 13%;
    width: 100%;
}

.notinhaIcon{
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.tituloNota{
    font-size: 25px;
    color: rgba(255, 255, 255, 1);

}

.subtituloNota{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);

}