@import './index.css';


.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);

    width: 100%;
    margin: 0px 3%;
    height: 10dvh;
    border-bottom: 2px solid black;
}

.logoContainer{
    margin-left: -40px;
    /* background-color: black; */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

.logoHome{
    cursor: pointer;
    background: transparent;
    height: 70%;
    width: auto;
}

.blueFontLogo{
    background: linear-gradient(to bottom, #74FFF8, #6FC0FA);
    background-clip: text;
    color: transparent;
}

.centerContent{
    /* background-color: yellow; */
    margin-left: 15%;
    display: flex;
    align-items: center;
    width: 20%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title{
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}

.subtitle{
    font-size: 30px;
}

.imgcenter{
    height: auto;
    margin-left: 20px;
}

.userMenu{
    margin-right: -30px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* border:  2px solid red;
    background-color: pink; */
    height: 100%;
    width: 30%;
}

.notificacao{
    background-color: transparent;
    cursor: pointer;;
    height: 80px;
    width: auto;
    margin-right: 4%;
    padding: 10px;
}


.profilePicture{
    object-fit: cover;
    background-color: rgb(0, 0, 0);;
    border: 3px solid rgb(0, 0, 0);
    height: 70px;
    width: 70px;
    border-radius: 200px;
    margin-left: 5%;
}